.home {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic{
  border-radius: 5px;
  filter: drop-shadow(11px 10px 10px rgb(207, 207, 207));
}

.profile {
  padding-left: 30px;
  height: 333px;
}

.content{
  margin-top: 5px;
}

.content-list-container {
  margin-top: 5px;
}

.content-container{
  margin-top: 15px;
}

.content-container ul {
  margin-left: 20px;
}

.content-container ul li{
  margin-top: 5px;
}