.home {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic{
  border-radius: 5px;
  filter: drop-shadow(11px 10px 10px rgb(207, 207, 207));
}

.content {
  padding-left: 30px;
  height: 333px;
}

.experiences {
  margin-top: 20px;
}

.talk {
  margin-top: 15px;
}

.content ul {
  margin-top: 5px;
  margin-left: 20px;
}

.content ul li{
  margin-top: 5px;
}