*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Nunito,sans-serif;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
}


.blue {
  color: #322f7b;
}

.grey {
  color: grey;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.space {
  letter-spacing: 2px;
}

.big-text{
  font-size: 3rem;
}

.align-center {
  text-align: center;
}

.align-end {
  text-align: end;
}

.fit-content{
  width: fit-content;
}