.about-content-list-container {
  margin-top: 20px;
}

.about-content-list {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bullets {
  margin-left: 15px;
}

.bullets li{
  margin-bottom: 8px;
}

.skills-container{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.skill-card {
  background-color: #DCDCDC;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}