.educations-container {
  margin-top: 30px;
}

.education-list {
  padding: 10px 30px 0px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.education {
  max-width: 350px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .education-list {
    grid-template-columns: 1fr;
  }
}