.educations-container {
  margin-top: 30px;
}

.education-list {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.education {
  max-width: 350px;
  margin-bottom: 20px;
}